<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>van</title>
    <link rel="stylesheet" href="css/papa.css">
    <link rel="stylesheet" href="css/anime.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <%- include('navbar')%>
            <div class="span"></div>
            <div class="grid">
            <div class="gard-gard">
            <div class="gard">
                <img src="img/products12/12.1.jpg" alt="">
                <div class="price"><p>Start 2,800 บาท</p></div>
                <div class="deal"> <button onclick="send(0)" id="dallnew" >Deal</button></div>
                <div class="p-gard"><p>All new commuter v7</p></div>
            </div>
            <div class="gard">
                <img src="img/products1/1.jpg" alt="">
                <div class="price"><p>Start 2,200 บาท</p></div>
                <div class="deal"><button onclick="send(1)" id="dallnew" >Deal</button></div>
                <div class="p-gard"><p>All new commuter v8</p></div>
            </div> 
            <div class="gard">
                <img src="img/products9/8.1.jpg" alt="">
                <div class="price"><p>Start 2,000 บาท</p></div>
                <div class="deal"><button onclick="send(2)" id="dallnew" >Deal</button></div>
                <div class="p-gard"><p>All new commuter v13</p></div>
            </div>
            <div class="gard">
                <img src="img/products11/10.1.jpg" alt="">
                <div class="price"><p>Start 3,500 บาท</p></div>
                <div class="deal"><button onclick="send(3)" id="dallnew" >Deal</button></div>
                <div class="p-gard"><p>Commuter v8</p></div>
            </div>
            <div class="gard">
                <img src="img/products10/9.5.jpg" alt="">
                <div class="price"><p>Start 3,500 บาท</p></div>
                <div class="deal"><button onclick="send(4)" id="dallnew" >Deal</button></div>
                <div class="p-gard"><p>Commuter v13</p></div>
            </div> 
            <div class="gard">
                <img src="img/products4/3.1.jpg" alt="">
                <div class="price"><p>Start 14,000 บาท</p></div>
                <div class="deal"><button onclick="send(5)" id="dallnew" >Deal</button></div>
                <div class="p-gard"><p>Benz sprinter 10</p></div>
            </div> 
            <div class="gard">
                <img src="img/products3/2.1.jpg" alt="">
                <div class="price"><p>Start 14,000 บาท</p></div>
                <div class="deal"><button onclick="send(6)" id="dallnew" >Deal</button></div>
                <div class="p-gard"><p>Benz sprinter 15</p></div>
            </div>
            <div class="gard">
                <img src="img/products5/4.1.jpg" alt="">
                <div class="price"><p>Start 3,500 บาท</p></div>
                <div class="deal"><button onclick="send(7)" id="dallnew" >Deal</button></div>
                <div class="p-gard"><p>Toyota majesty</p></div>
            </div>
            <div class="gard">
                <img src="img/products2/1.1.jpg" alt="">
                <div class="price"><p>Start 3,500 บาท</p></div>
                <div class="deal"><button onclick="send(8)" id="dallnew" >Deal</button></div>
                <div class="p-gard"><p>Hundai h1</p></div>
            </div>
            <div class="gard">
                <img src="img/products6/5.1.jpg" alt="">
                <div class="price"><p>Start 10,000 บาท</p></div>
                <div class="deal"><button onclick="send(9)" id="dallnew" >Deal</button></div>
                <div class="p-gard"><p>Bus</p></div>
            </div> 
            <div class="gard">
                <img src="img/products7/6.1.jpg" alt="">
                <div class="price"><p>Start 500 บาท</p></div>
                <div class="deal"><button onclick="send(10)" id="dallnew" >Deal</button></div>
                <div class="p-gard"><p>Suv</p></div>
            </div>
            <div class="gard">
                <img src="img/products8/7.1.jpg" alt="">
                <div class="price"><p>Start 400 บาท</p></div>
                <div class="deal"><button onclick="send(11)" id="dallnew" >Deal</button></div>
                <div class="p-gard"><p>รถเก๋งSedan</p></div>
            </div>
         
   
        </div>
        </div>
    </div>
        <script src="js/inner.js">
         </script>
         <script src="js/drop.js"></script>
    </header>
   
</body>

</html>
